<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uee.travel_ticket">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Travel_Ticket">
        <activity android:name=".SelectUserActivity"></activity>
        <activity android:name=".ForeignerQRCodeActivity" />
        <activity
            android:name=".CreditBalanceActivity"
            android:exported="true" />
        <activity
            android:name=".ForeignRegisterActivity"
            android:exported="true"></activity>
        <activity android:name=".AllJourneysActivity"></activity>
        <activity android:name=".GetLocationActivity" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true" />
        <activity
            android:name=".CreditActivity"
            android:exported="true" />
        <activity android:name=".UserProfileActivity" />
        <activity android:name=".PaymentInformationActivity" />
        <activity android:name=".RegistrationActivity"></activity>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>